.header {
    padding: 10px;
    text-align: center;
    background: #1d0e43;
    color: white;
    font-size: 15px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px 15px 15px 15px;
  }